# =====================================
# Server
# =====================================
PORT=5000
NODE_ENV=development

# =====================================
# MySQL
# =====================================
DB_HOST=localhost
DB_PORT=PORT
DB_USER=DB_USERNAME
DB_PASSWORD=DB_USERNAME
DB_NAME=otp_service

# =====================================
# WebEngage Transactional
# =====================================
WEBENGAGE_API=WEBENGAGE_API_CURL
WEBENGAGE_API_KEY=WEBENGAGE_API_KEY